.pokedexDataContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pokedexDetailsFather {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.pokedexDetailsInside {
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.pokedexDataTittle {
  color: #FAFAFA;
  font-size: 50px;
}



.boxTopTable {
  color: #FAFAFA; 
  padding: 15px;
}

.detailsName {
  color: #FAFAFA;
}

.spanFather > span {
  padding: 10px;
  color: #76767A;
}

.spanFather {
  width: 100%;
  color: #FAFAFA;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: solid #FAFAFA 1px;
}


h4 {
  color: #FAFAFA;
}

.detailsRowFather {
  width: 100%;
}

  @media only screen and (max-width: 500px) {
    .pokedexDetailsFather {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    
    .spanFather {
      color: #FAFAFA;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      justify-content: space-between;
    }
  
    .pokedexDetailsInside {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .pokedexDataTittle {
      color: #FAFAFA;
      font-size: 30px;
    }
  
  }

.pokedexTitlesAbilities {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}