.pokedexDataContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* th {
  color: #76767A;
  padding: 5px;
  border-top: solid #76767A 1px;
}

td {
  text-align: center;
  color: #FAFAFA;
  border-top: solid #76767A 1px;
  padding: 15px;
} */

.boxTopTable {
  color: #FAFAFA; 
  padding: 15px;
}

.detailsName {
  color: #FAFAFA;
}

.spanFather > span {
  padding: 10px;
  color: #76767A;
}

.spanFather {
  color: #FAFAFA;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}